// COLORS
$meli-color: #fff159;
$meli-light-blue: #3483fa;
$tablet: 768px;
$desktop: 1024px;
$key: $meli-color;

//// Make long shadows
/// @param {Number} $num [1] - number of shadows to make
/// @param {Color} $color [white] - color of shadows
@function longshadow($num,$color: white){
    $shadow: '';
    $i: 0;
    @for $i from 1 through $num{
        $shadow: $shadow + (1 * $i) + 'px' + ' ' + (1 * ($i * 2)) + 'px' + ' ' + $color;
        @if $i < $num{
        $shadow: $shadow + ', ';
        }
    }
    @return unquote($shadow);
}


@mixin animatedbackgroudn(){
    background: linear-gradient(199deg, #cff77f, #faff2b, #f3d902);
    background-size: 600% 600%;
    
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
    
    @-webkit-keyframes AnimationName {
        0%{background-position:88% 0%}
        50%{background-position:13% 100%}
        100%{background-position:88% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:88% 0%}
        50%{background-position:13% 100%}
        100%{background-position:88% 0%}
    }
    @keyframes AnimationName { 
        0%{background-position:88% 0%}
        50%{background-position:13% 100%}
        100%{background-position:88% 0%}
    }
}