@import './mixins';

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
  
@media screen {

    html{
        height: 100%;
    }
    body{
        display: flex;
        height: 100%;
        @include animatedbackgroudn();
        #main {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            >div{
                width: 100%;
            }
        }
        header {
            z-index: 2;
            position: fixed;
            display: flex;
            top: 0;
            height: 50px;
            background: $meli-color;
            width: 100%;
            justify-content: center;
            img[alt=mobileImage] {
                height: 30px;
                padding: 10px 0 5px;
            }
            img[alt=desktopImage] {
                display: none;
                height: auto;
            }
        }
    }
    
    .form-decode {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        input {
            z-index: 2;
            position: absolute;
            top: 0;
            bottom: 0;
            outline: 0;
            border-width: 0 0 3px;
            border-color: lighten($meli-light-blue, 25%);
            background-color: rgba(255,255,255,.20);
            height: 40px;
            width: 95%;
            transition: all .5s;
            margin: auto;
            color: white;
            font: 700 normal 40px 'Montserrat',sans-serif;
            text-shadow: longshadow(10,darken($meli-light-blue,2%));
            text-align: right;
            padding-bottom: 10px;
            caret-color: white;
            &:focus {
                border-color: $meli-light-blue;
                background-color: transparent;
            }
        }
        &:after {
            content: '';
            height: 100px;
            //background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(237,209,0,1) 30%, rgba(237,209,0,1) 51%, rgba(237,209,0,1) 76%, rgba(231,225,181,0) 95%, rgba(229,229,229,0) 100%); /* FF3.6-15 */
            //background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(237,209,0,1) 30%,rgba(237,209,0,1) 51%,rgba(237,209,0,1) 76%,rgba(231,225,181,0) 95%,rgba(229,229,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
            //background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(237,209,0,1) 30%,rgba(237,209,0,1) 51%,rgba(237,209,0,1) 76%,rgba(231,225,181,0) 95%,rgba(229,229,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
           // @include animatedbackgroudn();
            width: 100%;
            z-index: 1;
        }
        button {
            display: none;
        }
    }
    
    .old-searches {
        text-align: center;
        bottom: 0;
        position: absolute;
        right: 0;
        left: 0;
        list-style: none;
        h2 {
            color: #888888;
            font-size: 32px;
            letter-spacing: 2px;
            font-family: 'Montserrat', sans-serif;
            text-shadow: 2px 2px #ffffff;
        }
        h4 {
            color: #444444;
            font-size: 14px;
            letter-spacing: 2px;
            font-family: 'Montserrat', sans-serif;
            text-shadow: 2px 2px #ffffff;
            text-transform: uppercase;
            font-style: italic;
        }
        .displayer-container {
            @keyframes fadeIn {
                0% { opacity: 0; }
                20% { opacity: 0; }
                40% { opacity: 0.3; }
                60% { opacity: 0.5; }
                80% { opacity: 0.9; }
                100% { opacity: 1; }
              }
        }
    }
    
    @media screen and (min-width: $tablet) {
        .form-decode {
            input {
                width: 50%;
                height: 60px;
                font: 700 normal 40px 'Montserrat',sans-serif;
            }
            
        }
        header {
            img[alt=mobileImage] {
                display: none;
            }
            img[alt=desktopImage] {
                display: block !important;
                height: 30px;
                padding: 10px 0 5px;
            }
        }
      
    }
}

@media screen and (min-width: $desktop) {
    .form-decode {
        input {
            width: 70%;
            height: 80px;
            font: 700 normal 4em/1.5 'Montserrat',sans-serif;
        }
        
    }
}