@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@media screen {
  html {
    height: 100%;
  }

  body {
    display: flex;
    height: 100%;
    background: linear-gradient(199deg, #cff77f, #faff2b, #f3d902);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
  }
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 88% 0%;
    }
    50% {
      background-position: 13% 100%;
    }
    100% {
      background-position: 88% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 88% 0%;
    }
    50% {
      background-position: 13% 100%;
    }
    100% {
      background-position: 88% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 88% 0%;
    }
    50% {
      background-position: 13% 100%;
    }
    100% {
      background-position: 88% 0%;
    }
  }
  body #main {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  body #main > div {
    width: 100%;
  }
  body header {
    z-index: 2;
    position: fixed;
    display: flex;
    top: 0;
    height: 50px;
    background: #fff159;
    width: 100%;
    justify-content: center;
  }
  body header img[alt=mobileImage] {
    height: 30px;
    padding: 10px 0 5px;
  }
  body header img[alt=desktopImage] {
    display: none;
    height: auto;
  }

  .form-decode {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .form-decode input {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    outline: 0;
    border-width: 0 0 3px;
    border-color: #b0cffd;
    background-color: rgba(255, 255, 255, 0.2);
    height: 40px;
    width: 95%;
    transition: all 0.5s;
    margin: auto;
    color: white;
    font: 700 normal 40px "Montserrat", sans-serif;
    text-shadow: 1px 2px #2a7dfa, 2px 4px #2a7dfa, 3px 6px #2a7dfa, 4px 8px #2a7dfa, 5px 10px #2a7dfa, 6px 12px #2a7dfa, 7px 14px #2a7dfa, 8px 16px #2a7dfa, 9px 18px #2a7dfa, 10px 20px #2a7dfa;
    text-align: right;
    padding-bottom: 10px;
    caret-color: white;
  }
  .form-decode input:focus {
    border-color: #3483fa;
    background-color: transparent;
  }
  .form-decode:after {
    content: "";
    height: 100px;
    width: 100%;
    z-index: 1;
  }
  .form-decode button {
    display: none;
  }

  .old-searches {
    text-align: center;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    list-style: none;
  }
  .old-searches h2 {
    color: #888888;
    font-size: 32px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px #ffffff;
  }
  .old-searches h4 {
    color: #444444;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 2px 2px #ffffff;
    text-transform: uppercase;
    font-style: italic;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 0.3;
    }
    60% {
      opacity: 0.5;
    }
    80% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (min-width: 768px) {
  .form-decode input {
    width: 50%;
    height: 60px;
    font: 700 normal 40px "Montserrat", sans-serif;
  }

  header img[alt=mobileImage] {
    display: none;
  }
  header img[alt=desktopImage] {
    display: block !important;
    height: 30px;
    padding: 10px 0 5px;
  }
}
@media screen and (min-width: 1024px) {
  .form-decode input {
    width: 70%;
    height: 80px;
    font: 700 normal 4em/1.5 "Montserrat", sans-serif;
  }
}

/*# sourceMappingURL=styles.css.map */
